name: eval

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  baseline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run baseline eval
        run: |
          python -V
          python src/eval_local.py
